<%- include('header.ejs') %> <%- include('form.ejs') %> 
<hr>
<ul class="memes">
    <% if(memes.length === 0) {%>
    <p>No user has posted memes now</p>
    <% }else {%>
    <% memes.forEach(function(meme) { %>
    <li class="meme">
      <h3 class="meme-creator"><%=meme.username%></h3>
      <h5><%=meme.caption%></h5>
      <a href="<%=meme.url%>" class="meme-title"></a>
    </li>
    <% })%>
    <% }%>
</ul>  
</body>
</html>
