<%- include('header.ejs') %> <%- include('form.ejs') %> 
<hr>
<ul class="memes">
    <li class="meme">
        <h3 class="meme-creator"><%=memes.username%></h3>
        <h5><%=memes.caption%></h5>
        <a href="<%=memes.url%>" class="meme-title"></a>
    </li>
   
</ul>  
</body>
</html>
